@page "{id}/{action=view}"
@model With.ASP.NET.RazorPages.Pages.Examples.ClickToEdit.ContactModel
@{
    Layout = null;
    var action = Request.RouteValues["action"]!.ToString();
}

@switch (action)
{
    case "view":
        <div hx-swap="outerHTML" 
             hx-target="this">

            <div><label>First Name</label>: @Model.ContactInfo.FirstName</div>
            <div><label>Last Name</label>: @Model.ContactInfo.LastName</div>
            <div><label>Email</label>: @Model.ContactInfo.Email</div>

            <button hx-get="@Url.Page("Contact", values: new {id = Model.ContactInfo.ID, action = "edit"})">
                Click To Edit
            </button>

        </div>
        break;

    case "edit":
        <form hx-put="@Url.Page("Contact", values: new {id = Model.ContactInfo!.ID, action = "view"})"
              hx-swap="outerHTML"
              hx-target="this">

            <div>
                <label>First Name</label>
                <input type="text" name="firstName" value="@Model.ContactInfo?.FirstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastName" value="@Model.ContactInfo?.LastName">
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input type="email" name="email" value="@Model.ContactInfo?.Email">
            </div>

            <input type="hidden" name="id" value="@Model.ContactInfo?.ID">

            <button type="submit">Submit</button>
            <button hx-get="@Url.Page("Contact", values: new {id = Model.ContactInfo!.ID, action = "view"})">Cancel</button>

        </form>
        break;

    default:
        throw new NotSupportedException($"Action '{action}' not supported");
}
