@page
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li>
        <a href="@Url.PageLink("/Examples/ClickToEdit/Index")">ClickToEdit</a>
    </li>
    <li>
        <a href="@Url.PageLink("/Examples/BulkUpdate/Index")">BulkUpdate</a>
    </li>
    <li>
        <a href="@Url.PageLink("/Examples/ClickToLoad/Index")">ClickToLoad</a>
    </li>
    <li>
        <a href="@Url.PageLink("/Examples/DeleteRow/Index")">DeleteRow</a>
    </li>
    <li>
        <a href="@Url.PageLink("/Examples/EditRow/Index")">EditRow</a>
    </li>
    <li>
        <a href="@Url.PageLink("/Examples/LazyLoading/Index")">LazyLoading</a>
    </li>
</ul>
