@page
@model With.ASP.NET.RazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li>
        <a href="@Url.Page("/Examples/ClickToEdit/Index")">ClickToEdit</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/BulkUpdate/Index")">BulkUpdate</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/ClickToLoad/Index")">ClickToLoad</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/ScrollToLoad/Index")">ScrollToLoad</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/DeleteRow/Index")">DeleteRow</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/EditRow/Index")">EditRow</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/LazyLoading/Index")">LazyLoading</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/LazyLoadingWithSkeleton/Index")">LazyLoading with skeleton</a>
    </li>
    <li>
        <a href="@Url.Page("/Examples/ActiveSearch/Index")">ActiveSearch</a>
    </li>
</ul>
<hr />
<a href="#" hx-post="@Url.Page("Index")" hx-swap="outerHTML">Reset all db data</a>

<partial name="_AntiForgery" />