@page "{id=-1}/{action=view}"
@model With.ASP.NET.RazorPages.Pages.Examples.EditRow.PeopleModel
@{
    Layout = null;
    var action = Request.RouteValues["action"]!.ToString();
    var id = int.Parse(Request.RouteValues["id"]!.ToString()!);
}

@switch (action)
{
    case "view":
        if (id == -1)
        {
            <table class="table delete-row-example">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody hx-target="closest tr"
                       hx-swap="outerHTML">
                    @foreach (var contact in Model.People)
                    {
                        @await Html.PartialAsync("_RowTemplate", contact)
                    }
                </tbody>
            </table>
        }
        else
        {
            var contact = Model.People.Single(x => x.Id == id);
            @await Html.PartialAsync("_RowTemplate", contact)
        }

        break;

    case "edit":
        {
            var contact = Model.People.Single(x => x.Id == id);

            <tr class="editing"
                hx-trigger="cancel"
                hx-get="@Url.Page("People", values: new {id = contact.Id})">

                <td><input name="name" value="@contact.Name"></td>
                <td><input name="email" value="@contact.Email"></td>
                <td>
                    <button class="btn danger"
                            hx-get="@Url.Page("People", values: new {id = contact.Id})">
                        Cancel
                    </button>
                    <button class="btn danger"
                            hx-put="@Url.Page("People", values: new {id = contact.Id})"
                            hx-include="closest tr">
                        Save
                    </button>
                </td>
            </tr>
        }
        break;

    default:
        throw new NotSupportedException($"Action '{action}' not supported");
}